---
layout: base.liquid
---
<main class="page catering">
    <header class="small" style="background-image: url({{header-image}})">
        <h1>{{title}}</h1>
    </header>

    <section class="{%if style != 'left'%}centered{%endif%}">
        {{-content}}
    </section>

    <section >
        <h2>{{produkte-title}}</h2>
        <div class="produkte-liste">
            {% for produkt in collections.produkterev %}
                <article class="produkt">
                    <span class="date">{{-produkt.data.date | dateformat }}</span>
                    <div class="produkt-bild" style="background-image: url({{produkt.data.image}})"></div>
                    <div class="produkt-content">
                        <h4>{{-produkt.data.title}}</h4>
                        <p>{{-produkt.data.page.excerpt}}</p>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
</main>
