---
layout: base.liquid
---
<main class="page catering">
    <header class="">
    <div class="background"
        style="background-image: url({{header-image}})">
        </div>
        <h1>{{title}}</h1>
    </header>

    <section class="{%if style != 'left'%}centered{%endif%}">
        {{-content}}
    </section>

    {% comment %} <section >
        <h2>{{produkte-title}}</h2>
        <div class="post-list">
            {% for produkt in collections.produkterev %}
                <article class="post">
                    <span class="date">{{-produkt.data.date | dateformat }}</span>
                    <div class="post-bild" style="background-image: url({{produkt.data.image}})"></div>
                    <div class="post-content">
                        <h4>{{-produkt.data.title}}</h4>
                        <p>{{-produkt.data.page.excerpt}}</p>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section> {% endcomment %}
</main>
