---
layout: base.liquid
---

<main class="home">

    <header >
    <div class="background"
      style="background-image: url({{header_image}})">
    </div>
        <h2>{{headertitle}}</h2>
        <p>{{headercontent}}</p>
    </header>

    <section class="news">
        <article class="openinghours">
            <h3>{{openinghours-title}}</h3>
            <p>{{-openinghours }}</p>
        </article>
        
        {% for article in collections.newsrev %}
            <article class="article" onclick="window.location.href='{{article.url}}'">
                <span class="date">{{article.date | dateformat }}</span>         
                
                <h3>{{article.data.title}}</h3>
                <p>{% if article.data.page.excerpt %}
                        {{-article.data.page.excerpt}}
                    {% else %}
                        {{-article.data.content}}
                    {% endif %}
                </p>
            </article>
        {% endfor %}
    </section>
    
    <section class="centered">
        {{content}}
    </section>

    <section class="teaser">
        <h2>{{teaser-headline}}</h2>
        <div class="grid">
        {% for item in teasers%}
            <div class="item" style="background-image: url({{image}})" onclick="window.location='{{url}}'"><span>{{name}}</span></div>
        {% endfor %}
            <!--div class="item" style="background-image: url()"><span>Bakery</span></div>
            <div class="item" style="background-image: url()"><span>Catering</span></div>
            <div class="item" style="background-image: url()"><span>Lieferservice</span></div-->
        </div>
    </section>

    {% include _maps.liquid %}
    
</main>

