---
layout: base.liquid
---

<main class="home">

    <header >
        <div class="background"
        style="background-image: url({{header-image}})">
        </div>
        <h2>{{headertitle}}</h2>
        <p>{{headercontent}}</p>
    </header>

    <section class="news">
        <article class="openinghours">
            <h3>{{openinghours-title}}</h3>
            <p>{%for row in openinghours%}
            <span>{{-row}}</span>
            {%endfor%}
            </p>
        </article>
        
        {% for article in collections.newsrev %}
            <article class="article" onclick="window.location.href='{{article.url}}'">
                <span class="date">{{article.date | dateformat }}</span>         
                
                <h3>{{article.data.title}}</h3>
                <p>{% if article.data.page.excerpt %}
                        {{-article.data.page.excerpt}}
                    {% else %}
                        {{-article.data.content}}
                    {% endif %}
                </p>
            </article>
        {% endfor %}
    </section>
    
    <section class="centered about">
        {{content}}
    </section>

    {% comment %} <section class="opentable"  style="background-image: url({{opentable_image}})">
        <h2>{{opentable}}</h2>
    </section> {% endcomment %}

    <section class="teaser">
        {% if teaser-headline %}<h2>{{teaser-headline}}</h2>{% endif %}
        <div class="grid">
            {% for item in teasers%}
                <div class="item" onclick="window.location='{{item.url}}'">
                    <div class="image" style="
                    background-image: url({{item.image}});
                    {%if item.image-y-position%}
                        background-position-y: {{item.image-y-position}};
                    {%endif%}
                    "></div>
                    {% comment %} <img src="{{item.image}}" alt=""> {% endcomment %}
                    <span>{{item.name}}</span>
                </div>
            {% endfor %}
        </div>
    </section>

    {% include _maps.liquid %}
    
   <section class="certificates">
        <div class="grid">
            <div class="item">
            <link href="https://awards.infcdn.net/circ5_n.css" rel="stylesheet"/><div id="rest_circ5" onclick="if(event.target.nodeName.toLowerCase() != 'a') {window.open(this.querySelector('.circ_top_title').href);return 0;}"><div class="circ_cont"><div class="circ_img" style="background: url('https://awards.infcdn.net/img/star_red.svg') no-repeat center">&nbsp;</div><a href="https://restaurantguru.com/leuchtstoff-Kaffeebar-Berlin" target="_blank" class="circ_top_title">Restaurant Guru 2020</a><span>Recommended</span><a href="https://restaurantguru.com/leuchtstoff-Kaffeebar-Berlin" class="circ_bot_title" target="_blank">leuchtstoff</a></div></div>
            </div>
        </div>
    </section>
</main>

