---
layout: base.liquid
---

<main class="home">

    <header >
    <div class="background"
      style="background-image: url({{header_image}})">
    </div>
        <h2>{{headertitle}}</h2>
        <p>{{headercontent}}</p>
    </header>

    <section class="news">
        <article class="openinghours">
            <h3>{{openinghours-title}}</h3>
            <p>{{-openinghours }}</p>
        </article>
        {% for article in collections.news %}
            <article class="article" onclick="window.location.href='{{article.url}}'">            
                <h3>{{article.data.title}}</h3>
                <p>{% if article.data.page.excerpt %}
                        {{-article.data.page.excerpt}}
                    {% else %}
                        {{-article.data.content}}
                    {% endif %}
                </p>
            </article>
        {% endfor %}
    </section>
    
    <section class="centered">
        {{content}}
    </section>

    <section class="teaser">
        <h2>{{teaser-headline}}</h2>
        <div class="grid">
            <div class="item"><span>Kaffeebar</span></div>
            <div class="item"><span>Bakery</span></div>
            <div class="item"><span>Catering</span></div>
            <div class="item"><span>Lieferservice</span></div>
        </div>
    </section>

    <section>
        <h2>{{contact-headline}}</h2>
        <div id="map"></div>
    </section>
</main>

