---
layout: base.liquid

contact_link: 'kontakt.html'
---

<main class="home">

    <header >
        <div class="background"
        style="background-image: url({{header-image}})">
        </div>
        <div class="background2">
        </div>
        <h2>{{headertitle}}</h2>
        <p>{{headercontent}}</p>
    </header>

    <section class="news length-{{collections.newsrev.length}}">
        <article class="openinghours" onclick="window.location.href='{{contact_link}}'">
            <h3>{{openinghours-title}}</h3>
            <p>{% for row in openinghours %}<div>{{row}}</div>{%endfor%}</p>
        </article>
        
        {% for article in collections.newsrev %}
            <article class="article" onclick="window.location.href='{{article.url}}'">
                <span class="date">{{article.date | dateformat }}</span>         
                
                <h3>{{article.data.title}}</h3>
                <p>{% if article.data.page.excerpt %}
                        {{-article.data.page.excerpt}}
                    {% else %}
                        {{-article.data.content}}
                    {% endif %}
                </p>
            </article>
        {% endfor %}
    </section>
    
    <section class="centered about">
        {{content}}
    </section>

    <section class="teaser">
        {% if teaser-headline %}<h2>{{teaser-headline}}</h2>{% endif %}
        <div class="grid">
            {% for item in teasers%}
                <div class="item" onclick="window.location='{{item.url}}'">
                    <div class="image" style="
                    background-image: url({{item.image}});
                    {%if item.image-y-position%}
                        background-position-y: {{item.image-y-position}};
                    {%endif%}
                    "></div>
                    {% comment %} <img src="{{item.image}}" alt=""> {% endcomment %}
                    <span>{{item.name}}</span>
                </div>
            {% endfor %}
        </div>
    </section>

    {% include _maps.liquid %}
    
</main>

