---
layout: base.liquid
---

<main class="home"
      style="background-image: url({{image}})">

    <header>
        <h2>{{headertitle}}</h2>
        <p>{{headercontent}}</p>
    </header>

    <section class="news">
        <article class="openinghours">
            <p>{{-openinghours }}</p>
        </article>
        {% for article in collections.news %}
            <article class="article" onclick="window.location.href='{{article.url}}'">            
                <h3>{{article.data.title}}</h3>
                <p>{{-article.data.page.excerpt}}</p>
            </article>
        {% endfor %}
    </section>
    
    <section class="intro">
        {{content}}
    </section>

    <section class="teaser">
        <h2>was wir hier so machen</h2>

    </section>

    <section>
        <h2>und so findest du zu uns</h2>
        maps.plugin
    </section>
</main>
