---
layout: base.liquid
---

<main class="home"
      style="background-image: url({{image}})">

    <header>
        <h2>{{headertitle}}</h2>
        <p>{{headercontent}}</p>
    </header>

    <section class="news">
        <article class="openinghours">
            <h3>{{openinghours-title}}</h3>
            <p>{{-openinghours }}</p>
        </article>
        {% for article in collections.news %}
            <article class="article" onclick="window.location.href='{{article.url}}'">            
                <h3>{{article.data.title}}</h3>
                <p>{{-article.data.page.excerpt}}</p>
            </article>
        {% endfor %}
    </section>
    
    <section class="centered">
        {{content}}
    </section>

    <section class="teaser">
        <h2>{{teaser-headline}}</h2>
        <div class="grid">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
    </section>

    <section>
        <h2>{{contact-headline}}</h2>
        <div id="map"></div>
    </section>
</main>

