---
layout: base.liquid
---
<main class="page kaffeebar">
    <header class="small">
        <div class="background"
            style="background-image: url({{header-image}})">
            </div>
        <h1>{{title}}</h1>
    </header>

    <section class="{%if style != 'left'%}centered{%endif%}">
        {{-content}}
    </section>

    <section class="post-list">
    {% for bohne in collections.bohnerev %}
        <article class="post">
            <span class="date">{{-bohne.data.date | dateformat }}</span>
            <div class="post-bild" style="background-image: url({{bohne.data.image}})"></div>
            <div class="post-content">
                <h4>{{-bohne.data.title}}</h4>
                <p>{{-bohne.data.page.excerpt}}</p>
            </div>
        </article>
    {% endfor %}
    </section>
</main>
